<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../../js/vue.js"></script>
  <script>
    window.onload = function () {
      let vm = new Vue({
        el: '#div1',
        data: {
          txt: ''
        },
      });
    };
  </script>
</head>
<body>
  <div id="div1">
    <input type="text" v-model="txt"/>
    <input type="text" v-model="txt"/>
    <span v-bind:title="txt">{{txt}}</span>
    <span :title="txt">{{txt}}</span>
  </div>
</body>
</html>
