<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .box {
      width: 100px;
      height: 100px;
      background-color: red;
    }
  </style>
  <script src="../../js/vue.js"></script>
  <script>
    window.onload = function () {
      let vm = new Vue({
        el: '#div',
        data: {
          subscript: true
        },
        methods: {
          onshow: function () {
            this.show = !this.show;
          },
        }
      });
    };
  </script>
</head>
<body>
<div id="div">
  <form action="http://localhost/" method="get">
    <input type="text" name="user" value="blue"><br>

    {{subscript}}
    <input type="checkbox" v-model="subscript"> 发送邮件给我
    <input v-if="subscript" type="email" name="email" value="aaa@163.com"><br>

    <input type="submit" name="" value="提交">
  </form>

</div>
</body>
</html>
